    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        color: #f42;
    }
    
    h1 {}
    
    nav ul {
        list-style: none;
        display: inline-flex;
    }
    
    nav {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-1 {
        background: black;
        height: auto;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
    
    .navbar-1 a {
        padding-right: 10px;
    }
    
    .navbar-2 {
        background: whitesmoke;
        height: auto;
        padding: 15px;
    }
    
    .navbar-2 a {
        font-size: 20px;
    }
    
    .front-articles {
        display: grid;
        grid-gap: 10px;
        grid-template-areas: "big big small-top" "big big small-bottom";
    }
    
    .latest-news {
        display: flex;
        flex-wrap: wrap;
    }
    
    .latest-news>* {
        flex: 1;
        flex-basis: 25%;
        padding: 20px;
    }
    
    .latest-news img {
        width: 100%;
    }
    
    .latest-news-title {}
    
    .latest-news-article span {
        font-size: 15px;
        color: gray;
    }
    
    .latest-news-article>* {
        flex-direction: column;
        padding-bottom: 2%;
    }
    
    .latest-news-title a {
        font-size: 28px;
        font-weight: bold;
    }
    
    .latest-funding-rounds {
        display: flex;
        flex-wrap: wrap;
    }
    
    .latest-funding-rounds-article {
        flex-basis: 25%;
        padding: 25px;
        position: relative;
        text-align: center;
    }
    
    .funding-article-title {
        background: red;
        padding: 4%;
        position: relative;
    }
    
    .funding-article-title img {
        width: 56px;
        position: absolute;
        top: 27%;
        left: 7%;
    }
    
    .funding-article-amount {
        display: flex;
        flex-direction: column;
        background: pink;
        padding: 9%;
    }
    
    .latest-funding-rounds-article-middle {
        display: flex;
        flex-direction: column;
        padding: 15px;
        line-height: 20px;
    }
    
    .latest-funding-rounds-article-bottom {
        padding: 15px;
        background: whitesmoke;
        font-size: 14px;
        font-weight: 400;
        color: gray;
        line-height: 18px;
    }
    
    .funding-article- .article-box-content {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .article-1 {
        display: flex;
        grid-area: big;
        background-image: url("imgs/front-article-1.jpg");
        background-size: cover;
        height: 300px;
    }
    
    .article-2 {
        grid-area: small-top;
        display: flex;
        background-image: url("imgs/front-article-2.jpg");
    }
    
    .article-3 {
        grid-area: small-bottom;
        display: flex;
        background-image: url("imgs/front-article-2.jpg");
    }
    
    .apps-section {
        display: flex;
        flex-wrap: wrap;
    }
    
    .apps-section img {
        width: 80%;
    }
    
    .apps-articles {
        display: flex;
        flex-direction: column;
        flex: 0 0 30%;
        padding: 30px 0px;
        margin: 0 13px;
    }
    
    .apps-bg-img {
        height: 180px;
    }
    
    .apps-top-title span {
        display: inline-flex;
        padding: 0 0 15px 0;
        font-family: Helvetica, sans-serif;
        font-size: 25px;
        color: #f42;
        font-weight: 1000;
    }
    
    .apps-top-info {
        color: white;
        background: url("imgs/tiktok-796x419.png");
        background-size: cover;
    }
    
    .apps-top-info {
        padding: 0 14px;
        font-size: 14px;
        font-weight: bold;
    }
    
    .apps-top-info>* {
        padding: 5px 0;
    }
    
    .apps-top-info>span {
        font-weight: 100;
    }
    
    .apps-top-info span:last-child {
        color: lightgray;
        font-size: 14px;
        font-weight: 200;
    }
    
    .apps-middle {
        display: flex;
        flex-wrap: wrap;
    }
    
    .apps-middle-text {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 10px;
    }
    
    .apps-middle-text span {
        padding-bottom: 6px;
        color: red;
    }
    
    .apps-middle-text span:last-child {
        font-weight: bold;
    }
    
    .apps-middle-img {
        flex: 1
    }
    
    .apps-middle-img img {
        width: 100%;
    }
    
    .apps-bottom {
        display: flex;
        flex-direction: column;
    }
    
    .apps-bottom ul {
        list-style: none;
    }
    
    .apps-bottom li {
        font-family: sans-serif;
        font-size: 13px;
        padding: 6px 0 6px 14px;
        color: #555;
        border-bottom: 1px solid whitesmoke;
    }